@model ReviewR.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<hgroup>
    <h2>Log in.</h2>
    <h3>Enter your email address and password.</h3>
</hgroup>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(excludePropertyErrors: true)

    <fieldset class="no-legend">
        <legend>Log in.</legend>
        <ol>
            <li class="control-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li class="control-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li class="control-group">
                <label class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    Remember Me
                </label>
            </li>
        </ol>
    </fieldset>
    <div class="modal-bar">
        <input type="submit" value="Log In" class="btn-primary btn-large" />
    </div>
}
