@model ReviewR.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<hgroup>
    <h2>Log in.</h2>
    <h3>Enter your email address and password.</h3>
</hgroup>

@using (Html.BeginForm()) 
{
    @Html.CustomValidationSummary(errorMessage: null)

    <fieldset class="no-legend">
        <legend>Log in.</legend>
        <ol>
            <li class="control-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li class="control-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li class="control-group">
                <label class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    Remember Me
                </label>
            </li>
        </ol>
    </fieldset>
    <footer class="-rR-modal-footer">
        <input type="submit" value="Log In" class="btn-primary btn-large" />
    </footer>
}
