@model ReviewR.Web.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<hgroup>
    <h2>Register.</h2>
    <h3>Create an account to start reviewing some code.</h3>
</hgroup>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm()) 
{
    @Html.CustomValidationSummary(errorMessage: null)

    <fieldset class="no-legend">
        <legend>Log in.</legend>
        <ol>
            <li class="control-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li class="control-group">
                @Html.LabelFor(model => model.DisplayName)
                @Html.EditorFor(model => model.DisplayName)
                @Html.ValidationMessageFor(model => model.DisplayName)
            </li>
            <li class="control-group">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li class="control-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </li>
        </ol>
    </fieldset>
    <div class="modal-bar">
        <input type="submit" value="Register" class="btn-primary btn-large" />
    </div>
}

