@using System.Text;
@using ReviewR.Web.Infrastructure;
@using ReviewR.Web.Services;
@{
    var settings = Services.GetService<ISettings>();
    var auth = Services.GetService<AuthenticationService>();
    
    Uri requestUrl = Request.Url;

    var env = settings.Get("Environment");
    var ver = typeof(ReviewR.Web.ReviewRApplication).Assembly.GetName().Version.ToString();
    
    // Set up OAuth client data
    StringBuilder oauthData = new StringBuilder();
    foreach(KeyValuePair<string, string> pair in auth.GetClientIds()) {
        oauthData.Append(" data-oauth-");
        oauthData.Append(pair.Key);
        oauthData.Append("=\"");
        oauthData.Append(pair.Value);
        oauthData.Append("\"");
    }
}
<!DOCTYPE html>
<html data-root="@Href("~/")" data-environment="@env" data-token="@ReviewR.Web.Services.Utils.DecodeCookieToJson(Context)" @Html.Raw(oauthData)>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ReviewR</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div id="root">
        <a href="http://github.com/anurse/reviewr" target="_blank">
            <img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1000" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                alt="Fork me on GitHub">
        </a>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">ReviewR</a>
                    <nav id="master-nav">
                        <ul class="nav" data-bind="visible: currentUser().loggedIn">
                            <li data-bind="visible: currentUser().isAdmin"><a href="~/_dbadmin" data-link="exterior">
                                Database Admin</a></li>
                            <li><a href="/">Dashboard</a></li>
                        </ul>
                    </nav>
                    <nav id="login-nav">
                        <ul class="nav pull-right">
                            <li class="dropdown" data-bind="visible: currentUser().loggedIn" style="display: none">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img data-bind="attr: { src: currentUser().gravatarUrl, alt: currentUser().email }"
                                        src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=16" alt="Not logged in" />
                                    <span data-bind="text: currentUser().displayName"></span><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/" data-bind="click: logout">Logout</a></li>
                                </ul>
                            </li>
                            <li data-bind="visible: !currentUser().loggedIn()"><a href="#" data-bind="click: login">
                                Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <p class="alert">
            This is ReviewR @env v@(ver). This is a development version. Data may be wiped without notice.
        </p>
        <div id="syrah-page-host"></div>
        <div class="modal fade" id="syrah-dialog-host"></div>
    </div>
    <!-- Load scripts -->
    <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.19.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/signals.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/knockout-2.1.0.debug.js"></script>
    <script src="~/Scripts/modernizr-2.5.3.js"></script>
    <script src="~/js/fx/Backbone.lite.js"></script>
    <script src="~/js/fx/knockout.validation.js"></script>
    <script src="~/js/fx/namespace.js"></script>
    <script src="~/js/fx/syrah.js"></script>
    <script src="~/js/fx/syrah.bus.js"></script>
    <script src="~/js/fx/syrah.plugins.js"></script>
    <script src="~/js/fx/syrah.plugins.dom.js"></script>
    <script src="~/js/fx/syrah.plugins.binding.js"></script>
    <script src="~/js/fx/syrah.rendering.js"></script>
    <script src="~/js/fx/syrah.routing.js"></script>
    <script src="~/js/fx/syrah.utils.js"></script>
    <script src="~/js/rR.app.js"></script>
    <script src="~/js/rR.models.js"></script>
    @Composition.ViewModelScripts("~/js/modules")

    <!-- Templates -->
    @Composition.ViewModelTemplates("~/Views")
</body>
</html>
