@using ReviewR.Web.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ReviewR</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <a href="http://github.com/anurse/reviewr" target="_blank">
        <img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1000" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
    </a>
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="~/">
                    ReviewR
                </a>
                <nav id="master-nav">
                    <ul class="nav" data-bind="if: currentUser().loggedIn">
                        @Html.MenuLink("Dashboard", "Index", "Reviews", new { id = (object)null })
                    </ul>
                </nav>
                <nav id="login-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown" data-bind="if: currentUser().loggedIn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @Gravatar.GetHtml(User.Email(), imageSize: 24)
                                <span>@User.DisplayName() @if (User.IsInRole("Admin")) { <text>(Admin)</text> }</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li data-bind="if: currentUser().isAdmin"><a href="~/_dbadmin">Database Admin</a></li>
                                <li data-bind="if: currentUser().isAdmin" class="divider" />
                                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            </ul>
                        </li>
                        <li data-bind="ifnot: currentUser().loggedIn">@Html.ActionLink("Register", "Register", "Account", null, new { title = "Create a ReviewR Account", @class="dialog", data_dialog_key = "register" })</li>
                        <li data-bind="ifnot: currentUser().loggedIn, click: startLogin">@Html.ActionLink("Login", "Login", "Account", null, new { title = "Login to ReviewR", @class="dialog", data_dialog_key = "login" })</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <p class="alert alert-error">This is a MAJOR prototype, don't expect data to stay around. Databases may be wiped WITHOUT notification and ALL data will be removed.</p>
    <h1>Home</h1>
    @*
    <div class="container-fluid">
        <h1>Home</h1>
        <p data-bind="ifnot: currentUser().loggedIn">
            You need to have an account before you can start submitting or participating in reviews. 
            Please @Html.ActionLink("Login", "Login", "Account", null, new { data_dialog_key = "login", @class="dialog" }) or @Html.ActionLink("Register for a new account", "Register", "Account", null, new { data_dialog_key = "register", @class="dialog" })
        </p>
        <p data-bind="if: currentUser().loggedIn">
            Welcome to ReviewR. Visit your @Html.ActionLink("Review Dashboard", "Index", "Reviews").
        </p>
    </div>*@

    <!-- Load scripts and initialize code -->
    <script type="text/javascript" src="~/Scripts/LAB.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.17.js"></script>
    <script type="text/javascript" src="~/Scripts/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/backbone.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.0.6-development-only.js"></script>
    <script type="text/javascript" src="~/Client/reviewR.js"></script>
    @Assets.GetScripts()
    <script type="text/javascript">
        rR.init('@Url.Content("~/")');
    </script>
</body>
</html>