<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DiffViewer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.17.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.render.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Kudu.DiffViewer.js"></script>
    <script type="text/javascript" src="~/Client/ReviewR.js"></script>
    @if(!Request.IsAuthenticated) {
        <script type="text/javascript" src="~/Client/ReviewR.Auth.js"></script>
    }
</head>
<body>
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="~/">
                    ReviewR
                </a>
                <nav id="master-nav">
                    <ul class="nav pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @Gravatar.GetHtml(User.Identity.Name)
                                    @User.Identity
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Logout", "Account")</li>
                                </ul>
                            </li>
                        } 
                        else {
                            <li>@Html.ActionLink("Register", "Register", "Account", null, new { title = "Create a ReviewR Account", data_dialog = "data-dialog" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Account", null, new { title = "Login to ReviewR", data_dialog = "data-dialog" })</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="container-fluid">
        By Andrew Nurse
    </footer>
</body>
</html>
