<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DiffViewer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.17.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.render.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Kudu.DiffViewer.js"></script>
    <script type="text/javascript" src="~/Client/ReviewR.js"></script>
    @if(!Request.IsAuthenticated) {
        <script type="text/javascript" src="~/Client/ReviewR.Auth.js"></script>
    }
    @Assets.GetScripts()
</head>
<body>
    <a href="http://github.com/anurse/reviewr" target="_blank">
        <img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1000" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
    </a>
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="~/">
                    ReviewR
                </a>
                <nav id="master-nav">
                    <ul class="nav">
                        @Html.MenuLink("Dashboard", "Index", "Reviews")
                    </ul>
                </nav>
                <nav id="login-nav">
                    <ul class="nav pull-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>@User.Identity.Name @if (User.IsInRole("Admin")) { <text>(Admin)</text> }</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a href="~/_dbadmin">Database Admin</a></li>
                                        <li class="divider" />
                                    }
                                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                                </ul>
                            </li>
                        } 
                        else {
                            <li>@Html.ActionLink("Register", "Register", "Account", null, new { title = "Create a ReviewR Account", @class="dialog", data_dialog_key = "register" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Account", null, new { title = "Login to ReviewR", @class="dialog", data_dialog_key = "login" })</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <p class="alert alert-error">This is a MAJOR prototype, don't expect data to stay around. Databases may be wiped WITHOUT notification and ALL data will be removed.</p>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
